.bg-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url('/bg.png') no-repeat center;
  background-size: cover;
  padding: 0 var(--space-4x);
}

.form {
  border-radius: 4px;
  background: #fff;
  padding: 2.25em;
  width: 100%;
}

.divider {
  height: 100%;
}

/* .form .checkbox {
  color: #fff;
} */

.form .button {
  width: 100%;
}

.tabs-container {
  display: none;
}

.form-container {
  display: flex;
  width: 70%;
  max-width: 992px;
}

.form-container h2 {
  color: #000 !important;
}

@media only screen and (max-width: 768px) {
  .tabs-container {
    display: flex;
  }
  .form-container {
    display: none;
  }
}

.tabs {
  color: #fff;
}
